@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --branco-principal: #ffffff;
    --cinza-secundária: #c0c0c0;
    --botao-azul:#167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: var(--branco-principal);
    margin-bottom: 1em;
}

.botao__secundario {
    background-color:transparent;
    border: 2px solid var(--branco-principal);
}

.conteiner__aviso {
    font-size: 12px;
    color: var(--cinza-secundária);
}

.conteiner__titulo {
    font-size: 28px;
    font-weight: 700;
}

.conteiner__imagem {
    margin: 1em 0 2em 0;
}

.conteiner__caixa {
    margin: 0 6em;
}

.secundaria__imagem {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundária);
    text-align: center;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
    margin-left: 8em;
}

.conteiner__descricao {
    padding: 2em;
}

.dispositivos__itens {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
   
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    font-weight: 700;
}

.lista__items {
    font-size: 32px;
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 10em 0 8em 0;
}

.rodape__lista {
   display: flex;
   justify-content: center;
   list-style-type: none;
   gap: 20px;
}

.lista__item {
   
    font-size: 14px;
    color: var(--branco-principal);
    text-decoration: none;
    font-family: var(--fonte-principal);
    margin: 2em 0;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    color: var(--cinza-secundária);
    font-size: 14px;
    padding: 1em;
    margin: 0 8em 0 8em;
}

.lista__item:hover {
    color: var(--botao-azul);
}

.lista__item:active {
    color: purple;   
}

@media screen and (max-width: 768px) {

    .conteiner {
        display: block;
        background-image: none;
        text-align: center;
        align-items: center;
    }

    .conteiner__imagem {
        width: 50vw;
    }

    .conteiner__caixa {
        margin: 2em 2em;
    }

    .secundario__botao {
        display: block;
        margin: 0;
        margin: 1em 0 0.5em 0;
    }
        

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundaria__imagem {
        width: 50vw;
    }

    .dispositivos__itens {
        display: block;
    }

    .rodape__lista {
        display: block;
        
    }
}